@import './reset.scss';
@import './variables.scss';
@import '~material-icons/iconfont/material-icons.css';

body {
  color: var(--color-white);
  background-color: var(--color-primary);
  font-weight: var(--width-medium);
  background-color: var(--color-primary);
  overflow-y: scroll;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
