.container {
  display: flex;
  flex: 1;
  height: 100%;
  gap: 40px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 24px;
  }
}

.wrapper {
  padding: 20px;
  background-color: var(--color-primary);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-smooth);
}

.linksWrapper {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
}

.wishlistWrapper {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
