.list {
  padding: 20px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.wrapper {
  width: 200px;

  p {
    text-align: center;
    margin-bottom: 8px;
  }
}
