.wrapper {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 18px;

  @media (min-width: 992px) {
    padding: 0 100px;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    img {
      width: 46px;
      height: 46px;
    }
  }

  p {
    margin-bottom: 8px;
  }
}

.form {
  width: 400px;
  margin-top: 12px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  background-color: var(--color-foreground);
  border-radius: var(--radius-lg);
  border: 2px solid var(--color-border);
  box-shadow: var(--shadow-smooth);
}

.logout {
  margin-top: 8px;
}
