.wrapper {
  max-height: 116px;

  overflow-y: scroll;

  padding: 0 8px;
  border-left: solid 2px var(--color-border-light);

  &::-webkit-scrollbar {
    width: 4px;
  }

  a {
    text-decoration: none;
  }
}

.button {
  margin-bottom: 4px;
}
