.wrapper {
  width: 100%;
  padding: 8px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--radius-sm);
  border: 2px dashed var(--color-primary);
  background-color: var(--color-foreground);

  cursor: pointer;

  transition: border var(--transition-duration) var(--transition-timing-function);

  &:hover {
    border: 2px dashed var(--color-primary-light);
  }
}
