.wrapper {
  box-sizing: content-box;
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 8px;

  gap: 8px;
  user-select: none;
  height: 24px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  transition-property: background-color color;
  transition: var(--transition-duration) var(--transition-timing-function);

  &:hover {
    background-color: var(--color-accent);
  }
}
