.nav {
  height: 50px;
  width: 100%;

  background-color: var(--color-primary);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;

  box-shadow: var(--shadow-smooth);

  span {
    color: #ffffff !important;
  }
}

.center {
  justify-content: center;
}

.title {
  display: inline-flex;
  gap: 4px;
  align-items: center;
}
