.nav {
  height: 50px;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--color-primary);

  z-index: 99999;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;

  box-shadow: var(--shadow-smooth);
}
