.wrapper {
  display: flex;
  flex: 1;

  flex-direction: column;
  gap: 12px;
}

.list {
  flex-grow: 1;

  background-color: var(--color-foreground);
  border-radius: var(--radius-sm);
  border: 2px solid var(--color-border);

  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  position: relative;
  overflow: hidden;

  @media screen and (max-width: 1200px) {
    height: auto;
    max-height: 400px;
  }
}

.modal {
  * {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 12px;
}
