.container {
  width: 100%;
  display: flex;
  position: relative;

  backdrop-filter: blur(6px);
}

.wrapper {
  width: 100%;
  min-height: 60px;

  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius-sm);
  border: 2px solid var(--color-border);

  transition: all var(--transition-duration) var(--transition-timing-function);

  .main {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.pair {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  user-select: none;
}

.dragbtn {
  all: unset;
  position: absolute;
  padding: 4px 0;
  border-radius: 4px;
  background-color: var(--color-accent-muted);

  right: -16px;

  cursor: grab;
  display: flex;
  align-items: center;
}

.editing {
  border-radius: var(--radius-sm) 0 0 var(--radius-sm);
  width: calc(100% - 80px);
}

.dragitem {
  border-radius: var(--radius-sm);
  position: relative;
}

.fav {
  display: flex;
  position: absolute;
  z-index: 1;
  width: 26px;
  height: 26px;
  top: -8px;
  left: -8px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  background-color: var(--color-foreground);
}
