.container {
  width: 100%;
  display: flex;
  position: relative;
}

.wrapper {
  width: 100%;
  min-height: 60px;

  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius-sm);
  background-color: var(--color-secondary);

  transition: all var(--transition-duration) var(--transition-timing-function);

  .main {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.dragging {
  transition: all var(--transition-duration) var(--transition-timing-function);
  background-color: var(--color-accent-light);
  backdrop-filter: blur(12px);
  box-shadow: var(--shadow-smooth);
}

.pair {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  user-select: none;
}

.dragbtn {
  all: unset;
  position: absolute;
  padding: 4px 0;
  border-radius: 4px;
  background-color: var(--color-accent-muted);

  right: -16px;

  cursor: grab;
  display: flex;
  align-items: center;
}

.editing {
  border-radius: var(--radius-sm) 0 0 var(--radius-sm);
  width: 92%;
}
