@import '@/styles/mixins';

.button {
  cursor: pointer;
  user-select: none;
  min-width: 80px;
  aspect-ratio: 1/1;
  padding: 6px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 12px;

  position: relative;
  text-decoration: none;

  background-color: var(--color-foreground);
  border: 2px solid var(--color-border);

  @include hover-item-accent();
}
