.wrapper {
  max-width: 400px;
  width: 100%;
  padding: 78px 20px 20px 20px;
  margin-top: 68px;

  background-color: var(--color-foreground);
  border: 2px solid var(--color-border);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-smooth);

  position: relative;
}

.usernameWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 12px;
  text-align: center;
  flex-direction: column;
}

.avatar {
  position: absolute;
  top: -68px;
  left: 50%;
  transform: translateX(-50%);
}

.bday {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
