.wrapper {
  width: 100%;
  display: flex;
  position: relative;

  padding: 12px;
  border-radius: var(--radius-sm);
  border: 2px solid var(--color-border);
  background-color: var(--color-foreground);
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 568px) {
    border: none;
    padding: 0;
  }
}

.col {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  @media screen and (max-width: 568px) {
    gap: 4px;
  }
}

.left {
  all: unset;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 12px;

  width: 90%;
  @media screen and (max-width: 568px) {
    p {
      font-size: 12px;
    }
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 12px;

  span {
    cursor: pointer;
  }
}

.inline {
  display: flex;
  gap: 3px;
}

.date {
  display: inline;
  margin-left: 3px;
  opacity: 0.6;
}
