.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
}

.input {
  margin-top: 8px;
}
