.wrapper {
  padding: 16px 0;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 16px;
    left: 0;
    width: calc(100% - 6px);

    height: 16px;

    background: linear-gradient(to top, var(--color-foreground), transparent);
  }
}

.list {
  width: 100%;
  max-height: 286px;
  overflow-y: scroll;

  padding-right: 8px;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-border-secondary);
    border-radius: var(--radius-sm);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-border);
    border-radius: var(--radius-sm);
  }

  &::-webkit-scrollbar-corner {
    background-color: var(--color-background);
  }

  a {
    text-decoration: none;
    color: var(--color-text);
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  padding: 12px 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }

  &:first-child {
    border-top: 1px solid var(--color-border);
  }

  .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    max-width: calc(100% - 100px);

    font-size: var(--size-normal);

    @media screen and (max-width: 768px) {
      font-size: var(--size-small);
      max-width: calc(100% - 50px);
    }
  }

  .shared {
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: calc(100% - 100px);

    .pair {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
    }

    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      font-size: var(--size-normal);

      @media screen and (max-width: 768px) {
        font-size: var(--size-small);
      }
    }
  }

  .actions {
    display: flex;
    gap: 8px;
  }

  .right {
    display: flex;
    align-items: flex-end;
    text-align: right;

    p {
      text-align: right;
    }
  }

  .skeleton {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}
