.container {
  width: 100%;
  display: flex;
  position: relative;

  backdrop-filter: blur(6px);
}

.wrapper {
  width: 100%;
  min-height: 60px;

  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius-sm);
  border: 2px solid var(--color-border);

  transition: all var(--transition-duration) var(--transition-timing-function);

  .main {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-overflow: ellipsis;
    margin-right: 12px;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.pair {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  user-select: none;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;

    border-radius: var(--radius-sm);
    background-color: var(--color-border);
    transition: all var(--transition-duration) var(--transition-timing-function);

    &:hover {
      background-color: var(--color-border);
    }
  }
}

.dragbtn {
  all: unset;
  position: absolute;
  padding: 4px 0;
  border-radius: 4px;
  background-color: var(--color-accent-muted);

  right: -12px;

  cursor: grab;
  display: flex;
  align-items: center;
}

.editing {
  border-radius: var(--radius-sm) 0 0 var(--radius-sm);
  width: calc(100% - 80px);
}

.fav {
  display: flex;
  position: absolute;
  z-index: 1;
  width: 26px;
  height: 26px;
  top: -8px;
  left: -8px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  background-color: var(--color-foreground);
}

.imageWrapper {
  min-width: 100px;
  max-height: 150px;
  border-radius: var(--radius-sm);

  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100px;
    height: 100%;
    object-fit: contain;

    @media screen and (max-width: 576px) {
      max-width: 80px;
    }
  }

  @media screen and (max-width: 576px) {
    min-width: 80px;
  }
}
