.wrapper {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 12px;
  background-color: var(--color-primary);
  border-radius: 12px;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
