.wrapper {
  position: relative;

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-foreground);
  border: 2px solid var(--color-border);
  border-radius: 12px;
  overflow: hidden;

  @media screen and (max-width: 1200px) {
    max-height: 400px;
  }
}

.list {
  flex: 1 1 1px;
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  overflow-y: scroll;

  @media screen and (max-width: 1200px) {
    flex: 1;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.buttonWrapper {
  width: 100%;
  padding: 12px;

  border-bottom: 1px solid var(--color-border);
}

.empty {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;

  img {
    width: 240px;
    height: auto;

    @media screen and (max-width: 768px) {
      width: 200px;
    }

    @media screen and (max-width: 578px) {
      width: 140px;
    }
  }

  @media screen and (max-width: 768px) {
    margin: 16px 0;
  }
}
