.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 12px;
  background-color: var(--color-foreground);
  border: 2px solid var(--color-border);
  border-radius: 12px;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
