.item {
  all: unset;
  padding: 8px 18px;

  border-radius: 9999px;
  height: 40px;

  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;

  :hover {
    color: #ffffff;
    background-color: var(--color-accent);
  }
}
