.container {
  position: relative;
  width: 100%;
  height: 160px;
  padding: 12px;
  margin-top: 12px;

  background-color: var(--color-foreground);
  border-radius: var(--radius-sm);
  border: 2px dashed var(--color-border);

  transition: border-color var(--transition-duration) var(--transition-timing-function);

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    flex: 1;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    display: block;

    object-fit: contain;
    border-radius: var(--radius-sm);
  }

  &:hover {
    cursor: pointer;
    border-color: var(--color-border-secondary);
  }

  svg {
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
    padding: 0;
    border: none;
    background: none;

    font-size: var(--size-normal);
    line-height: 1;
    transition: color var(--transition-duration) var(--transition-timing-function);

    path {
      stroke: var(--color-text-muted);
    }

    &:hover {
      path {
        stroke: var(--text-color);
      }
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 156px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--radius-sm);

  span {
    position: relative;
  }

  backdrop-filter: blur(6px);
}
