.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 40px;

  height: 100%;
}

.wrapper {
  padding: 20px;
  background-color: var(--color-primary);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-smooth);
}

.linksWrapper {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
