.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.flexRowCenter {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
