.container {
  height: 100vh;
  width: 100%;

  padding: 12px 320px;
  position: relative;

  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1200px) {
    padding: 12px 120px;
  }

  @media screen and (max-width: 568px) {
    padding: 62px 20px;
  }
}
