@import './reset.scss';
@import './variables.scss';

body {
  color: var(--color-white);
  font-weight: var(--width-medium);

  background-color: var(--color-background) !important;

  ::selection {
    background-color: var(--color-accent);
    color: #ffffff;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
