@import '@/styles/mixins';

.wrapper {
  position: relative;
}

.avatarWrapper {
  border-radius: 50%;
  border: 2px solid var(--color-border);
  padding: 2px;
  position: relative;
  background-color: var(--color-foreground);

  overflow: hidden;
  box-shadow: var(--shadow-smooth);

  &::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    cursor: pointer;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 2;

    transition: all var(--transition-duration) var(--transition-timing-function);
  }

  &:hover {
    &::before {
      background-color: rgba(0, 0, 0, 0.4);
    }
    .upload {
      opacity: 1;
    }
  }
}

.upload {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all var(--transition-duration) var(--transition-timing-function);
  z-index: 3;
}

.avatar {
  display: block;
  object-fit: cover;
  border-radius: 50%;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-foreground);
  border: 2px solid var(--color-border);
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;

  transition: all var(--transition-duration) var(--transition-timing-function);
  @include hover-item-accent;
}
