.heading {
  position: relative;
  margin-bottom: 40px;

  button {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: -30px;

    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 9999px;
    border-width: 4px;
    border-style: solid;
    border-color: var(--color-primary);

    background-color: var(--color-accent);

    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

  span {
    color: var(--color-primary);
  }

  @media screen and (max-width: 568px) {
    display: none;
  }
}

.rotate {
  transform: rotate(180deg);
}

.wrapper {
  box-sizing: content-box;
  display: flex;
  padding: 8px;
  margin-bottom: 16px;
  align-items: center;
  border-radius: 8px;
  user-select: none;
  height: 24px;

  p {
    margin-left: 32px;
  }

  img {
    width: 24px;
    height: 24px;

    position: absolute;
  }
}
