.heading {
  position: relative;
  margin-bottom: 40px;

  button {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: -32px;

    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    border: none;

    background-color: var(--color-primary-light);

    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

  @media screen and (max-width: 576px) {
    display: none;
  }
}

.rotate {
  transform: rotate(180deg);
}

.wrapper {
  box-sizing: content-box;
  position: relative;
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  border-radius: 8px;
  user-select: none;
  height: 32px;

  p {
    margin-left: 42px;
  }

  img {
    position: absolute;

    left: 4px;
    width: 32px;
    height: 32px;

    z-index: 2;
  }
}
