.wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.input {
  all: unset;

  width: 300px;

  font-size: var(--size-large);
  color: var(--color-text);
  font-weight: var(--width-medium);
}

.loading {
  opacity: 0.7;
}
