.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;

  background-color: var(--color-foreground);
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-border);
  margin-top: 6px;
}
