.navbar {
  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  padding: 20px;
  flex-direction: column;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  height: 100%;

  background-color: var(--color-primary);
  box-shadow: var(--shadow-smooth);

  z-index: 99999;

  ul {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    height: max-content;
  }

  @media screen and (max-width: 568px) {
    display: none;
  }
}

.burger {
  display: none;

  @media screen and (max-width: 568px) {
    display: block;
  }
}
