.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.friend {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-border);
}

.section {
  display: flex;
  align-items: center;

  gap: 10px;
}
