.wrapper {
  position: relative;
  height: 300px;

  padding: 8px;
  border: solid 2px var(--color-border-secondary);
  border-radius: var(--radius-sm);

  background-color: var(--color-foreground);

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list {
  display: flex;
  flex-grow: 1;
}

.slide {
  height: 100%;
}
