@import '@/styles/mixins';

.wrapper {
  margin-bottom: 16px;
}

.item {
  box-sizing: content-box;
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 12px;
  gap: 8px;

  cursor: pointer;
  user-select: none;

  height: 24px;
}

.span {
  width: 100%;
  white-space: nowrap;
}

.hover {
  @include hover-item-accent();
}
