@import '@/styles/mixins';

.item {
  padding: 4px;
  margin-bottom: 4px;
  border-radius: var(--radius-sm);

  display: flex;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;

  @include hover-item-accent();
}

.info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.col {
  width: 70%;
}
