.wrapper {
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;

  .edit {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.button {
  all: unset;

  display: flex;
  align-items: center;
  gap: 4px;

  cursor: pointer;
}

.edit {
  all: unset;

  display: flex;
  align-items: center;
  gap: 4px;

  width: 50px;
  cursor: pointer;
}

.selected {
  background-color: var(--color-primary);
  color: #ffffff;

  span {
    color: #ffffff;
  }
}

.dropdown {
  button {
    padding: 5px 16px;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.pair {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
