.wrapper {
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }

  padding: 12px 14px;
  display: flex;

  align-items: center;

  justify-content: space-between;
  gap: 12px;
  text-decoration: none;

  color: var(--color-text);

  .pair {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &:hover {
    background-color: var(--color-background);
  }
}
