.wrapper {
  padding: 6px 0;
  display: flex;

  align-items: center;

  justify-content: space-between;
  gap: 12px;
  text-decoration: none;

  color: var(--color-text);

  .pair {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}
