.wrapper {
  padding: 12px 0;
  margin-bottom: 12px;

  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 568px) {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
  }
}

.welcome {
  @media screen and (max-width: 568px) {
    display: none;
  }
}
