.wrapper {
  margin-bottom: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 576px) {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
  }
}

.welcome {
  @media screen and (max-width: 576px) {
    display: none;
  }
}
