.wrapper {
  flex-grow: 1;
  height: 184px;
  display: flex;
}

.list {
  width: 100%;

  max-height: 100%;

  overflow-y: scroll;

  border-radius: var(--radius-sm);
  background-color: var(--color-foreground);
  border: 2px solid var(--color-border);

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-border-secondary);
    border-radius: var(--radius-sm);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-border);
    border-radius: var(--radius-sm);
  }

  &::-webkit-scrollbar-corner {
    background-color: var(--color-background);
  }

  a {
    text-decoration: none;
    color: var(--color-text);
  }
}
